.pag-inicial{ 
    
    text-align: center;
    font-family: "Sofadi One", system-ui;
    font-weight: 600;
    font-style: normal;
    width: ;
    height: ;
    padding: 10px;
    border-radius: 5px;

    
    
}
.botoes a{
    background-color: rgba(58, 56, 182, 0.247);
       color: rgb(0, 0, 0);
       font-size: 20px;
       text-decoration: double;
       margin-top: 20px;
       padding: 10px;
       border-radius: 15px;
}
.botoes{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.botoes a:hover{
    background-color: #3628f2;
}
.pag-inicial img{
    width: 20%;
    height: 20%;
}
body {
    background-image: linear-gradient(90deg,#6f66f7b6,#e5e3f9);
    background-attachment: fixed;
}
.telaesquerda /img{
    height: 100vh;

}
.teladeLogin{
    display: flex;
}
body{
    margin: 0px;
}


